.goa {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    color: chartreuse;
    margin-top: 100px;
    animation-name: goa;
    animation-duration: 5s;
    animation-play-state: running;


}

@keyframes goa {
    0%{margin-top: -200px;
    color: white;}
    10%{margin-top: -100px;
    color: forestgreen;}
    20%{margin-top: -50px;
    color: green;}
    30%{margin-top: -30px;
    color: limegreen;}
    40%{margin-top: -10px;
    color: lime;}
    100%{margin-top: 100px;
    color: chartreuse;}
}


.buttons {
    margin-left: 510px;
    position: sticky;
    top: 0;
}

button {
    border-radius: 5px;
    padding: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button:hover{
    background-color: chartreuse;
    border-radius: 10px;
    transform: scale(1.1);
}

button:focus{
    background-color: white;
    color: chartreuse;
}

.goa2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    color: chartreuse;
    margin-top: 100px;
    animation-name: goa;
    animation-duration: 5s;
    animation-play-state: running;

}


.video{
    margin-left: 450px;
    height: 300px;
    width: 600px;
    margin-top: 200px;
}


.imgs{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.images{
    margin-left: 615px;
}
.imgs:hover {
    transform: scale(1.1);
}

